body {
  font-family: 'Comfortaa', cursive;
  background-color: #fef2e9;
    margin: 0;
  }
  
  header {
    background-color: #771933;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .header-left a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    height: 40px;
    margin-right: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  .header-right img {
    height: 20px;
    margin-right: 10px;
  }
  .header-right input[type="text"] {
    margin-right: 10px;
  }
  
  .banner {
    color: #fff;
    background-image: url('17223.png');
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-text {
    text-align: center;
  }
  
  .banner-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .banner-text p {
    font-size: 24px;
    margin: 0;
  }
  
  .rectangle {
    background-color: #771933;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    }
    
    nav ul li {
      display: inline-block;
      margin-right: 20px;
  }
  
  nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
  }
  
  nav ul li a:hover {
      color: #fff;
  }
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    position: relative; /* для створення контексту для позиціонування випадаючого меню */
  }
  
  .nav-links li:hover .dropdown-menu {
    display: block; /* відображення випадаючого меню при наведенні на li */
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu {
    display: none; /* початково ховаємо випадаюче меню */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #771933;
    width: 200px;
    padding: 10px;
    list-style: none;
    margin: 0;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    text-decoration: underline;
  }
  .line {
    border-top: 1px solid #9b253d;
    background-color: #ffffff;
    width: 1240px;
  }
  .ul a{
    list-style: none; /* Вимикаємо маркери списку */
    padding: 0; /* Встановлюємо відступи від списку до області браузера */
  }
  .li a{
    margin-bottom: 5px;
    text-decoration: none;
    color:  #771933;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 140px;
  }
  
  .column-left {
    flex: 1;
    padding-right: 3%;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .column-left img {
    width: 80%;
    height: 80%;
  }
  
  .column-right {
    flex: 2;
    align-self: flex-start;
  }
  
  footer {
    background-color: #771933;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer div img {
    height: 30px;
    margin: 0 10px;
  }
  
  footer p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }